{% extends 'history/base.html'  %}


{% block content %}

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="m-b-5">Les ventes</h2>


                 <div class="table-data__tool">

                    <div class="table-data__tool-right">
                     <button onclick="window.print()" class="btn btn-secondary">
                                        publier</button>
                    </div>
                    <h4 id="total_sales">
                            prix total: {{total_price}} XAF
                        </h4>
                     <a href="{% url 'history-sales-map' %}" class="btn btn-success">Localisation des points de vente</a>
                      
                </div>

                <div class="table-responsive ">
                    <table class="table table-bordered" id="sales" >
                        <thead>
                        <tr bgcolor="green">
                            <th class="text-white">N°</th>
                            <th class="text-white">ID</th>
                            <th class="text-white">Coop</th>
                            <th class="text-white">Nom
                            </th>
                            <th class="text-white">Numero de telephone
                            </th>
                           
                            <th class="text-white">détails des ventes
                                 <table class="table">
                                    <thead>
                                    <tr bgcolor="green">
                                        <th class="cell" >Produits</th>
                                        <th class="cell">Unite</th>
                                        <th class="cell">poids</th>
                                        <th class="cell">Quantite</th>
                                        <th class="cell">Prix ​​unitaire</th>
                                       
                                    </tr>
                                    </thead>
                                </table>
                            </th>
                            <th class="text-white">prix total
                            </th>
                            <th class="text-white">Enregistre le
                            </th>
                            <th class="text-white">Enregistre par
                            </th>
                        </tr>
                        </thead>
                        <tbody> 

                        {% for sale in sales %}
                        <tr >
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'history-single-sale' sale|get_item:'_id' %}">{{sale|get_item:'_id'}}</a></td>
                            <td>{{sale.coop}}</td>
                            <td>{{sale|get_item:'details/customer_firstName'}} {{sale|get_item:'details/customer_surName'}}</td>
                            <td>{{sale|get_item:"details/customer_phoneNumber"}}</td>
                           
                            <td >
                                <table class="table" >
                                   
                                    {% for details in sale.salesDetails %}
                                    <tr >
                                         <td class="cell">{{details|get_item:'salesDetails/product'}}</td>
                                        <td class="cell" >{{details|get_item:'salesDetails/unit'}}</td>
                                        <td class="cell">{{details|get_item:'salesDetails/weight'}} kg</td>
                                        <td class="cell">{{details|get_item:'salesDetails/productDetails/quantity'}}</td>
                                        <td class="cell">{{details|get_item:'salesDetails/productDetails/unitPrice'}}</td>
                                       
                                    </tr>
                                    {% endfor %}

                                </table>
                            </td>
                             <td>{{sale.totalPrice}} XAF</td>
                             <td>{{sale.today}}</td>
                            <td><a href="{% url 'history-single-farmer' sale|get_id_from_enid %}">{{sale|get_name_from_enid}}</a></td>
                        </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

{% endblock %}