
{% extends 'base.html'  %}   


{% block content %}

            <!-- DATA TABLE-->
            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="m-b-5">Les membres</h2>
                              
                            
                            
                <div class="table-data__tool">


                    <div class="table-data__tool-right">
                        <button onclick="window.print()" class="btn btn-secondary">
                                        publier</button>
                    </div>

                     <h4 id="total_size">
                            Superficie du champ: {{total_size}} ha
                        </h4>

                     <a href="{% url 'farmers-map' %}" class="btn btn-success">carte des membres</a>
                    
                </div>

                            <div class="table-responsive ">
                                <table class="table table-striped" id="farmers">
                                    <thead>
                                        <tr bgcolor="green">
                                            <th class="text-white">N°</th>
                                            <th class="text-white">ID</th>
                                            <th class="text-white">Nom</th>
                                            <th class="text-white">Prenoms</th>
                                            <th class="text-white">Année de naissance</th>
                                            <th class="text-white">genre</th>
                                           
                                            <th class="text-white">Numero de telephone</th>
                                            <th class="text-white">Superficie du champ </th>
                                            <th class="text-white">Proportion d’appartenance</th>
                                            <th class="text-white">village</th>
                                            <th class="text-white">role</th>
                                            <th class="text-white">coop</th>
                                            <th class="text-white">coop association</th>
                                            <th class="text-white">coop year</th>
                                            <th class="text-white">Date d’enregistrement</th>
                                            <th class="text-white">Enregistre par</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for farmer in farmers %}
                                        <tr class="tr-shadow">
                                            <td>{{forloop.counter}}</td>
                                            <td>{{farmer|get_item:'CMID_seqNr'}}</td>
                                            <td><a href="{% url 'single-farmer' farmer|get_item:'_id' %}">{{farmer|get_item:'details/firstName'}} </a></td>
                                            <td><a href="{% url 'single-farmer' farmer|get_item:'_id' %}"> {{farmer|get_item:'details/surName'}}</a></td>
                                            <td>{{farmer|get_item:'details/birthYear'}}</td>
                                            <td>{{farmer|get_item:'details/gender'}}</td>
                                            
                                            <td>{{farmer|get_item:'details/phoneNr'}}</td>
                                            <td>
                                            {% if farmer|get_item:'farm/farmSize' %}
                                            {{farmer|get_item:'farm/farmSize'}} {{farmer|get_item:'farm/areaUnitsFarm'}}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </td>
                                            <td>{{farmer|get_item:'farm/landOwned'|get_landowner}}</td>
                                            <td>{{farmer.village}}</td>
                                            <td>{{farmer.role|edit_role}}</td>
                                            <td>{{farmer.coop}}</td>
                                            <td>{% if farmer.assoc %} {{farmer.assoc}} {% else %} {{farmer.assoc_new}}  {% endif %}</td>
                                            <td>{{farmer.coop_year}}</td>
                                            <td>{{farmer.today}}</td>
                                            <td><a href="{% url 'single-farmer' farmer|get_id_from_enid %}">{{farmer|get_name_from_enid}}</a></td>
                                        </tr>
                                        {% endfor %}
                                       
                                       
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END DATA TABLE-->

{% endblock %}