{% extends 'base.html' %}
{% block content %}

<!--maps-->
<section class="p-t-20" id="fields">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-4">Carte des champs
                </h3>
            </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                <p><img src="https://maps.google.com/mapfiles/ms/icons/red-dot.png">Champs non matures</p>
                <p><img src="https://maps.google.com/mapfiles/ms/icons/green-dot.png">Champs matures</p>
                <p><img src="https://maps.google.com/mapfiles/ms/icons/orange-dot.png">Champs deja recoltes</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="height: 400px;width: 100%;" id="fields_map"></div>
            </div>
        </div>
    </div>
   
</section>
<!--end maps -->



<script>
// Initialize and add the map
function initMap() {
    // The locations
    const cameroon = { lat: 7.3696, lng: 12.3446 };
    const congo = { lat: 3.6606, lng: 14.8966 }


    const fields_map = new google.maps.Map(
        document.getElementById('fields_map'), { zoom: 4, center: cameroon });


    // The field markers
    let markers1 = [
        {% for field in fields %}
              new google.maps.Marker({ position:  { lat: {{field.data.geolocation.0}}, lng: {{field.data.geolocation.1}} }, map: fields_map, icon: { url:{% if field.status == 'ready' %}"https://maps.google.com/mapfiles/ms/icons/green-dot.png"{% elif field.status == 'harvest' %}
              "https://maps.google.com/mapfiles/ms/icons/orange-dot.png" {% else %}"https://maps.google.com/mapfiles/ms/icons/red-dot.png"{% endif %} ,scaledSize: new google.maps.Size(18, 18)} })
    .addListener('click', function(e) {
       new google.maps.InfoWindow({
          content: "Nom du champs: <a href='{% url 'single-field' field.data|get_item:'_id' %}'>{{field.data.fieldName}}</a><br>Propriétaire: {{field|get_field_owner}}<br> Superficie: {{field.data.area_ha|roundoff}} ha <br> Date de plantation: {{field.data|get_item:'schedule/plantingDate'}} <br> Date de récolte: {{field.data|get_item:'schedule/harvestDate'}} "
        }).open(fields_map, this);
    }) ,
    {% endfor %}
    ]

    
  
}

</script>




<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc2v8qMx-9ghIjw0MikfoiSgfak3WKHHA&callback=initMap">
</script>
{% endblock %}