
{% extends 'base.html'  %}   


{% block content %}

            <!-- DATA TABLE-->
            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="m-b-5">Payement</h2>
                              
                            
                            <div class="table-responsive ">
                                <table class="table table-data2" id="payments">
                                    <thead>
                                        <tr >
                                            <th >ID</th>
                                            <th >Nom</th>
                                            <th >Numero de telephone</th>
                                            <th >montant</th>
                                            <th >Date</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="tr-shadow">
                                            <td>5464</td>
                                            <td>dan kakai</td>
                                            <td>07376455</td>
                                            <td>77838.737</td>
                                            <td>2018</td>
                                          
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END DATA TABLE-->

{% endblock %}