{% extends 'base.html'  %}


{% block content %}

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="m-b-5">Maladies et ravageurs</h2>


                <div class="table-data__tool">

                    <div class="table-data__tool-right">
                     <button onclick="window.print()" class="btn btn-secondary">
                                        publier</button>
                    </div>

                     <a href="{% url 'pest-map' %}" class="btn btn-success">Carte des Maladies et ravageurs</a>
                      
                </div>

                <div class="table-responsive ">
                    <table class="table table-bordered common" >
                        <thead>
                        <tr bgcolor="green">
                             <th class="text-white">N°</th>
                              <th class="text-white">ID</th>
                            <th class="text-white">Coop</th>
                            <th class="text-white">Nom de membre</th>
                            <th class="text-white">Nom de champs</th>
                            <th class="text-white">détails de Maladies et ravageurs
                                 <table style="table-layout: fixed ;"  >
                                 <thead>
                                    <tr>

                                        <th scope="col">maladie</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Score</th>
                                        <th scope="col">Racine</th>
                                        <th scope="col">Feuilles</th>
                                    </tr>
                                    </thead>
                                </table>
                            </th>
                             <th class="text-white">Enregistre le
                            </th>
                            <th class="text-white">Enregistre par
                            </th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for pest in pests %}
                        <tr >
                            <td>{{forloop.counter}}</td>
                            <td><a href="{% url 'single-pest' pest|get_item:'_id' %}">{{pest|get_item:'_id'}}</a></td>
                            <td>{{pest.coop}}</td>
                             <td><a href="{% url 'single-farmer' pest|get_id_from_cmid %}">{{pest|get_name_from_cmid}}</a></td>
                             <td>{{pest.fieldID|get_pest_field}}</td>
                            <td>
                                <table style="table-layout: fixed" width="100%" >

                                    {% for details in pest.PD %}
                                    <tr>

                                        <td>{{details|get_item:'PD/pestDisease'}}</td>
                                        <td>{{details|get_item:'PD/dateAppearance'}}</td>

                                        <td>{{details|get_item:'PD/score/score_incidence'}}</td>
                                        <td>{{details|get_item:'PD/score/score_severity_roots'}}</td>
                                        <td>{{details|get_item:'PD/score/score_severity_leaves'}}</td>

                                    </tr>
                                    {% endfor %}

                                </table>
                            </td>
                             <td>{{pest.today}}</td>
                            <td><a href="{% url 'single-farmer' pest|get_pest_registrar_id %}">{{pest|get_pest_registrar}}</a></td>
                        </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

{% endblock %}