{% extends 'base.html'  %}


{% block content %}

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="m-b-5">détails des Produits transformes</h2>

                <div class="table-data__tool float-right">
                               
                                <div class="table-data__tool-right">
                                    <button onclick="window.print()" class="btn btn-secondary">
                                        publier</button>
                                </div>
                            </div>

                <div class="table-responsive ">
                    <table class="table table-bordered" >

                        <tbody>

                        <tr class="tr-shadow">
                            <td >ID</td>
                            <td>{{product|get_item:'_id'}}</td>
                        </tr>

                        <tr class="tr-shadow">
                            <td>la localisation</td>
                            <td><a href="#mapModal" data-toggle="modal">product location</a></td>
                        </tr>

                         <tr class="tr-shadow">
                            <td>COOP</td>
                            <td>{{product.coop}}</td>
                        </tr>


                        <tr class="tr-shadow">
                            <td>poids de manioc</td>
                            <td>{{product.totalWeight_raw}} kg</td>
                        </tr>

                         <tr class="tr-shadow">
                            <td>Date d’enregistrement</td>
                            <td>{{product.today}}</td>
                        </tr>

                        <tr class="tr-shadow">
                            <td>Enregistre par</td>
                            <td><a href="{% url 'single-farmer' product|get_id_from_enid %}">{{product|get_name_from_enid}}</a></td>
                        </tr>

                        

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<hr/>
     <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="table-responsive">
                      <table class="table table-striped common"  >
                                     <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th >Produits transformes</th>
                                        <th >Unite</th>
                                        <th >poids</th>
                                        <th >Quantite</th>
                                       <th scope="col">Poids Total</th>


                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for details in product.productDetails %}
                                    <tr>
                                        <td> {{forloop.counter}}</td>
                                        <td>{{details|get_item:'productDetails/product'}}</td>
                                        <td>{{details|get_item:'productDetails/unit'}}</td>
                                        <td>{{details|get_item:'productDetails/weight'}} kg</td>
                                        <td>{{details|get_item:'productDetails/quantity'}}</td>
                                        <td>{{details|calculate_weight}} kg</td>
                                        
                                    </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Maps</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <div style="height: 400px;width: 100%;" id="products_map"></div>
            </div>
        </div>
    </div>
   </div>
</div>
</div>
</div>

<!--end maps -->


<script>
// Initialize and add the map
function initMap() {
    // The locations

     const products_map = new google.maps.Map(
        document.getElementById('products_map'), { zoom: 10, center: { lat: {{product|get_item:'_geolocation'|get_lat}}, lng: {{product|get_item:'_geolocation'|get_lng}} } });



    // The field markers
    let markers = [
        
              new google.maps.Marker({ position:  { lat: {{product|get_item:'_geolocation'|get_lat}}, lng: {{product|get_item:'_geolocation'|get_lng}} }, map: products_map, icon: { url: "http://maps.google.com/mapfiles/kml/pal4/icon49.png" } })
    
    ]
  
}

</script>




<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc2v8qMx-9ghIjw0MikfoiSgfak3WKHHA&callback=initMap">
</script>
    

{% endblock %}