{% extends 'base.html'  %}


{% block content %}

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="m-b-5">Les stocks</h2>


                <div class="table-data__tool">

                    <div class="table-data__tool-right">
  <button onclick="window.print()" class="btn btn-secondary">
                                        publier</button>
                    </div>
                    <div class="rs-select2--light rs-select2--md">
                                        <select value="{{request.GET.action}}" id="action" class="js-select2" >
                                            <option >filtre</option>
                                            <option value="all">All</option>
                                            <option value="available">Disponible
</option>
                                            <option value="receive">Recevoir</option>
                                            <option value="count">Compter</option>
                                            <option value="withdraw">Retirer</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                     <a href="{% url 'stock-map' %}" class="btn btn-success">Localisation des centres de gestion des stocks</a>
                </div>
                
                <div class="table-responsive ">
                    <table class="table table-bordered common" >
                        <thead>
                        <tr bgcolor="green">
                             <th class="text-white">N°</th>
                            <th class="text-white">ID</th>
                            <th class="text-white">Action</th>
                            <th class="text-white">Coop</th>
                            <th width="100%" class="text-white">détails des Produits
                                 <table style="table-layout: fixed" width="100%" >
                                    <thead >
                                    <tr>
                                        <th >Produits</th>
                                        <th >Unite</th>
                                        <th >poids</th>
                                        <th >Quantite</th>
                                    </tr>
                                    </thead>
                                </table>
                            </th>
                                
                              <th class="text-white">Enregistre le
                            </th>
                            <th class="text-white">Enregistre par
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for stock in stocks %}
                        <tr >
                            <td></td>
                            <td><a href="{% url 'single-stock' stock|get_item:'_id' %}">{{stock|get_item:'_id'}}</a></td>
                            <td><a>{{stock.action}}</td>
                            <td>{{stock.coop}}</td>
                            <td width="100%">
                                <table style="table-layout: fixed" width="100%">
                                   
                                  
                                    {% for details in stock.productDetails %}
                                    <tr>
                                        <td class="cell">{{details|get_item:'productDetails/product'}}</td>
                                        <td class="cell">{% if details|get_item:'productDetails/productUnit' %}
                                                {{details|get_item:'productDetails/productUnit'}}

                                            {% else %}
                                                {{details|get_item:'productDetails/unit'}}
                                            {% endif %}
                                        </td>
                                        <td class="cell">{{details|get_item:'productDetails/weight'}} kg</td>
                                        <td class="cell">{{details|get_item:'productDetails/quantity'}}</td>
                                        
                                    </tr>
                                    {% endfor %}

                                </table>
                            </td>
                           
                             <td>{{stock.today}}</td>
                            <td><a href="{% url 'single-farmer' stock|get_id_from_enid %}">{{stock|get_name_from_enid}}</a></td>
                        </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

{% endblock %}