{% extends 'base.html' %}
{% block content %}



<!--maps-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-4">Localisation des points de livraison
                </h3>
            </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                <p><img src="http://maps.google.com/mapfiles/kml/pal4/icon49.png">Livraisons de racine</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="height: 400px;width: 100%;" id="supplys_map"><div>
            </div>
        </div>
    </div>
   
</section>
<!--end maps -->
<script>
// Initialize and add the map
function initMap() {
    // The locations
    const cameroon = { lat: 7.3696, lng: 12.3446 };
    const congo = { lat: 3.6606, lng: 14.8966 }


    const supplys_map = new google.maps.Map(
        document.getElementById('supplys_map'), { zoom: 4, center: cameroon });


    // The field markers
    let markers = [
        {% for supply in supplies %}
              new google.maps.Marker({ position:  { lat: {{supply|get_item:'_geolocation'|get_lat}}, lng: {{supply|get_item:'_geolocation'|get_lng}} }, map: supplys_map, icon: { url: "http://maps.google.com/mapfiles/kml/pal4/icon49.png",scaledSize: new google.maps.Size(18, 18) } })
    .addListener('click', function(e) {
       new google.maps.InfoWindow({
          content: "Name:{% for details in supply|get_suppliers %} {{details.name}} {{details.surname}} <br>{% endfor %}<br>Quantity: {{supply|get_item:'localUnitDetails/localUnitQuantity'}} <br>Price:{{supply|get_item:'localUnitDetails/localUnitPrice'}}"
        }).open(supplys_map, this);
    }) ,
    {% endfor %}
    ]
  
}

</script>




<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc2v8qMx-9ghIjw0MikfoiSgfak3WKHHA&callback=initMap">
</script>
{% endblock %}